{{ define "main" }}
<div class="">
    <section class="">
        <div class="">Bio ✔️</div>
        <div class="">
            <div class="">
                <article class="">
                    <p>I am a Data Solution Architect with over 13 years of experience in software engineering. I have
                        led
                        design, development and management of IT Solution for many fortune five hundred companies, SMBs
                        and
                        startups during my service in this industry.
                    </p>

                    <p>
                        I am commited to help organizations achieve maximum benefits from their technology investments
                        and
                        push their IT operational boundaries. I have helped several customers discovering their wealth
                        in
                        data, monitizing and setting up analytical platforms, in cloud migration journey and simplifying
                        legacy systems integration while keeping their data and infrastructure secured than ever before.
                        Cost and resource optimization is and has always been a key focus area for me.
                    </p>


                    <p>I have a deep passion towards clean code and efficient design techniques. I am a life-long
                        learner
                        and an avid reader. I love to contribute to the community by means of blogging, speaking at
                        forums
                        and meetups, on stackoverflow, dev.to etc. When I am not working, I enjoy travelling and
                        photography. Because, at the end of the day, life is all about seeing, learning and being a
                        better
                        version of yourself. 🙂</p>

                </article>
            </div>
        </div>
    </section>
    <div class="">
        <a class=""
            href="https://docs.google.com/document/d/2121uAJ0N6VhN-h-YW9858Xae1RF09qjpWdXOReTz-1j_uA/edit?usp=sharing"
            target="_blank">  Download Resume</a>
    </div>

    <section class="">
        <div class="">Work 💻</div>
        <div class="">
            <div class="">
                <article class="">
                    <p>
                        For the last 13 plus years, I have been part of a software service-based company and during this
                        tenure I have played multiple roles within the orgaization with varied level of
                        responsibilities. Most recently, I'm part of the Solution Architect team, primarily focusing on
                        Data Solution Architecting and Design. I look after accounts migrating their data solution to
                        the cloud and modernizing their leagcy data platforms.
                    </p>

                </article>
            </div>
        </div>
    </section>

    <section class="">
        <div class="">Outside Work Hours 🏃‍♂️ 📷 </div>
        <div class="">
            <div class="">
                <article class="">
                    <p>
                        Its not so long ago I started with long run. The
                        city has its effect on me, I guess. At work, I met many of my collegues and friends, who are
                        pro
                        marathon runners. I was so inspired looking at their passion towards running that I decided to
                        give it a
                        try. I did run before but not with the goal of loving to run. I'm still building on my
                        techniques but
                        I love the fact that I enjoy running. Specially runnning early in the morning has a calming
                        effect throughout the day. I have participated in several half marathons in Mumbai, India.
                        Hoping to
                        get qualified for my first 42.6KM in next TMM and then someday in the future - NYC marathon 🙂.
                    </p>
                    <p>So thats runnning, but I find a great deal of happiness with photography too. I feel, photography
                        is
                        an emotional expression of an individual. You see more intensive red colors after drinking
                        coffee - thats
                        science but you cannot see colors like Eliot Porter(who by the way, known to be the first man in
                        american arts to shoot color photos in 1938 ), so thats art. To me, photography is a way to
                        reflect yourself. Its so amazing, so liberating. During my stay in Seattle, WA, I met so many
                        passionate photographers - by the dark lake at midnight waiting for the glimpse of our milky way
                        galaxy, lugging huge weight on the way up to mountain in search for a perfect landscape shot,
                        ignoring snow, ice, rain to see the city when it rains. Ansel Adam, Michael Malford and there
                        are many more who inspired the world to create art through photography. I dont know, whether I
                        create art or snapshots. But I love my photography.🙂
                    </p>
                </article>
            </div>
        </div>
    </section>



</div>
<div class="">
    <div class="">
        <div class="">
            <img class="" src="/img/contact.svg" alt="">
        </div>
        <div class="">
            <div class="">
                <h3>Say Hello! </h3>
                <form id="my-form" action="https://formspree.io/f/mrgonzdk" method="POST">
                    <label class="form-label">Email:</label>
                    <input type="email" name="email" class="form-control" />
                    <label class="form-label">Message:</label>
                    <textarea rows="4" name="message" class="form-control"> </textarea>
                    <button class="btn btn-success mt-3" id="my-form-button">Submit</button>
                    <p id="my-form-status"></p>
                </form>
            </div>
        </div>
    </div>
</div>

{{end}}