{{ define "main" }}
<section class="md:w-4/5 w-full mx-auto">
    <div class="flex flex-col items-start justify-center 
    my-8 py-20 md:px-56 space-y-10 w-full
    bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-200
    rounded-md shadow-md">
        <div class="flex justify-center items-center md:flex-row flex-col w-full">
            <div class="flex flex-col items-center justify-center">
                <div class="bg-gradient-to-tr from-purple-400 to-blue-400 
                w-28 h-28 rounded-full shadow-md
                transform -translate-x-5 translate-y-10"></div>
                <p class="text-4xl font-semibold z-10">BIO</p>
            </div>

            <div class="border border-gray-300 dark:border-gray-700 rounded-lg py-10 px-2 md:px-10 mt-10 md:ml-10">
                <p class="mb-10">I am a Data Solution Architect with over 13 years of experience in software
                    engineering. I have
                    led
                    design, development and management of IT Solution for many fortune five hundred companies, SMBs
                    and
                    startups during my service in this industry.
                </p>
                <p class="mb-10">
                    I am commited to help organizations achieve maximum benefits from their technology investments
                    and
                    push their IT operational boundaries. I have helped several customers discovering their wealth
                    in
                    data, monitizing and setting up analytical platforms, in cloud migration journey and simplifying
                    legacy systems integration while keeping their data and infrastructure secured than ever before.
                    Cost and resource optimization is and has always been a key focus area for me.
                </p>
                <p>I have a deep passion towards clean code and efficient design techniques. I am a life-long
                    learner
                    and an avid reader. I love to contribute to the community by means of blogging, speaking at
                    forums
                    and meetups, on stackoverflow, dev.to etc. When I am not working, I enjoy travelling and
                    photography. Because, at the end of the day, life is all about seeing, learning and being a
                    better
                    version of yourself. 🙂</p>
                    <div class="mt-20">
                        <a class="py-2 px-4 rounded-md
                        dark:bg-blue-800 bg-blue-200 text-gray-700 dark:text-gray-200"
                            href="https://docs.google.com/document/d/2121uAJ0N6VhN-h-YW9858Xae1RF09qjpWdXOReTz-1j_uA/edit?usp=sharing"
                            target="_blank"> Download Resume</a>
                    </div>
            </div>


        </div>
        <div class="flex justify-center items-center md:flex-row flex-col w-full">
            <div class="flex flex-col items-center justify-center">
                <div class="bg-gradient-to-tr from-purple-400 to-blue-400 
                w-28 h-28 rounded-full shadow-md
                transform -translate-x-28 md:-translate-x-10 translate-y-20"></div>
                <p class="text-4xl font-semibold z-10">Experience</p>
            </div>
            <div class="col-span-2">
                <div class="border border-gray-300 dark:border-gray-700 rounded-lg py-10 px-2 md:px-10 mt-10 md:ml-10">
                    <p class="mb-10">For the last 13 plus years, I have been part of a software service-based company
                        and during this tenure I have played multiple roles within the orgaization with varied level of
                        responsibilities. Most recently, I'm part of the Solution Architect team, primarily focusing on
                        Data Solution Architecting and Design. I look after accounts migrating their data solution to
                        the cloud and modernizing their leagcy data platforms.
                    </p>
                    <p class="">
                        I am commited to help organizations achieve maximum benefits from their technology investments
                        and
                        push their IT operational boundaries. I have helped several customers discovering their wealth
                        in
                        data, monitizing and setting up analytical platforms, in cloud migration journey and simplifying
                        legacy systems integration while keeping their data and infrastructure secured than ever before.
                        Cost and resource optimization is and has always been a key focus area for me.
                    </p>

                </div>
            </div>

        </div>
        <div class="flex justify-center items-center md:flex-row flex-col w-full">
            <div class="flex flex-col items-center justify-center">
                <div class="bg-gradient-to-tr from-purple-400 to-blue-400 
                w-28 h-28 rounded-full shadow-md
                transform -translate-x-28 md:-translate-x-10 translate-y-20"></div>
                <p class="text-4xl font-semibold z-10">Outside Work Hours</p>
            </div>
            <div class="col-span-2">
                <div class="border border-gray-300 dark:border-gray-700 rounded-lg py-10 px-2 md:px-10 mt-10 md:ml-10">
                    <p class="mb-10">Its not so long ago I started with long run. The city has its effect on me, I
                        guess. At work, I met many of my collegues and friends, who are pro marathon runners. I was so
                        inspired looking at their passion towards running that I decided to give it a try. I did run
                        before but not with the goal of loving to run. I'm still building on my techniques but I love
                        the fact that I enjoy running. Specially runnning early in the morning has a calming effect
                        throughout the day. I have participated in several half marathons in Mumbai, India. Hoping to
                        get qualified for my first 42.6KM in next TMM and then someday in the future - NYC marathon 🙂.
                    </p>
                    <p class="">
                        So thats runnning, but I find a great deal of happiness with photography too. I feel,
                        photography is an emotional expression of an individual. You see more intensive red colors after
                        drinking coffee - thats science but you cannot see colors like Eliot Porter(who by the way,
                        known to be the first man in american arts to shoot color photos in 1938 ), so thats art. To me,
                        photography is a way to reflect yourself. Its so amazing, so liberating. During my stay in
                        Seattle, WA, I met so many passionate photographers - by the dark lake at midnight waiting for
                        the glimpse of our milky way galaxy, lugging huge weight on the way up to mountain in search for
                        a perfect landscape shot, ignoring snow, ice, rain to see the city when it rains. Ansel Adam,
                        Michael Malford and there are many more who inspired the world to create art through
                        photography. I dont know, whether I create art or snapshots. But I love my photography.🙂
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="flex flex-col items-center justify-center 
    my-8 py-20 md:px-56 space-y-10 w-full
    bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-200
    rounded-md shadow-md">
        <div id="contact-form" class="flex flex-col justify-center items-center w-full">
            <div class="flex flex-col justify-center items-center w-3/4">
                <h3>Say Hello! </h3>
                <form id="my-form" action="https://formspree.io/f/mrgonzdk" method="POST" class="flex flex-col mx-auto w-full">
                    <label class="form-label">Email:</label>
                    <input type="email" name="email" class="h-12 text-gray-700 rounded-sm px-2" />
                    <label class="form-label">Message:</label>
                    <textarea rows="8" name="message" class="rounded-sm p-3 text-blue-700"> </textarea>
                    <button class="inline-block my-5 py-2 px-4 rounded-md
                    dark:bg-blue-800 bg-blue-200 text-gray-700 dark:text-gray-200 mt-3" id="my-form-button">Submit</button>
                    <p id="my-form-status"></p>
                </form>
            </div>
        </div>
    </div>
</section>
{{end}}