{{ define "main" }}
<section class="md:w-4/5 w-full mx-auto">
    
    <div class="flex flex-col items-center justify-center 
    my-8 py-20 md:px-56 space-y-10 w-full
    bg-gray-50 text-gray-800 dark:bg-gray-800 dark:text-gray-200
    rounded-md shadow-md">
        <!-- <div id="contact-form" class="flex flex-col justify-center items-center w-full">
            <div class="flex flex-col justify-center items-center w-3/4">
                <h3>Say Hello! </h3>
                <form id="my-form" action="https://formspree.io/f/mrgonzdk" method="POST" class="flex flex-col mx-auto w-full">
                    <label class="form-label">Email:</label>
                    <input type="email" name="email" class="h-12 text-gray-700 rounded-sm px-2" />
                    <label class="form-label">Message:</label>
                    <textarea rows="8" name="message" class="rounded-sm p-3 text-blue-700"> </textarea>
                    <button class="inline-block my-5 py-2 px-4 rounded-md
                    dark:bg-blue-800 bg-blue-200 text-gray-700 dark:text-gray-200 mt-3" id="my-form-button">Submit</button>
                    <p id="my-form-status"></p>
                </form>
            </div>
        </div> -->
        <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrm7Fgc0h3h7V2On?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="1037" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
    
</section>
{{end}}